.product-thumb {background:#fff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.nav-tabs > li:hover > a {color:#222 !important;  }
.well h2,#accordion h2, #accordion h4 a ,.btn-default {color:#444 !important;}
#cart .btn-inverse {color:#d1d1d1; border:0px solid; } 
#menu .nav > li > a:hover {background-color:#fc0f0f;} 
.dropdown-menu li > a:hover {background:#242424;} 
#menu .see-all:hover {background:#242424;} 
footer {background-color:#212121;} 
.product-thumb a {color:#000000 !important;} 
footer hr {border-bottom:1px solid #333333;} 
footer a {color:#828282;} 
footer a:hover {color:#e31717;} 
footer {color:#ffffff;} 
footer h5 {color:#ffffff;} 
h1, h2, h3, h4, h5, h6 {color:#ff0026;} 
#accordion .panel-title {color:#444;}
.btn-primary {background:#fc3232;} 
.btn-primary {box-shadow:none;}
.btn-primary {border:none;}
.btn-primary:hover {background-color:#ff0000;} 
#menu .nav > li > a:hover {text-shadow:none; color:#ffffff;} 
#content a, .breadcrumb a {color:#c4c4c4;} 
body {color:#ababab;} 
table,.panel-body,.dropdown-menu {color:#666;}
#top .btn-link:hover, #top-links a:hover {color:#e31717;} 
#top .btn-link, #top-links li, #top-links a {color:#868d91;} 
#top .btn-link, #top-links li, #top-links a {text-shadow:none;}
#top {background:#363636;} 
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background:none;}
body {background:#171717;} 
#menu .nav > li > a {text-shadow:none;}
#menu {background:#363636;} 
#menu .container {background:#363636;} 
#menu .nav > li > a:hover {color:#ffffff;} 
#menu,.dropdown-menu {border:0px solid transparent;}
#top {border-bottom:none;}
.btn-primary {color:#ffffff;} 
.btn-primary:hover {color:#ffffff;} 
.product-thumb .button-group button {color:#212121;} 
.product-thumb .button-group button:hover {color:#ff0000;} 
.product-thumb .button-group button {background-color:#ffffff;} 
.product-thumb .button-group button:hover {background-color:#1a1a1a;} 
footer {border:0px solid transparent;}
.breadcrumb {border:0px solid transparent;}
.breadcrumb {background:none;}
.breadcrumb > li {text-shadow:none;}
.breadcrumb > li:after {top:8px; width:8px; height:8px;}
.image-additional a ,.thumbnail, #product .form-control  ,.panel-default {border:none;}
.form-control  {box-shadow:none;}
.table-bordered ,.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{border-color:#363c40;}
