.product-thumb {background:#fff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.nav-tabs > li:hover > a {color:#222 !important;  }
.well h2,#accordion h2, #accordion h4 a ,.btn-default {color:#444 !important;}
#cart .btn-inverse {background-color:#3b2f1d; background-image:none;} 
#cart .btn-inverse {color:#fff;   } 
.dropdown-menu li > a:hover {background:#ad956f;} 
#menu .see-all:hover {background:#ad956f;} 
footer {background-color:#302515;} 
.product-thumb {color:#967127;} 
.product-thumb a {color:#303030 !important;} 
footer hr {border-bottom:1px solid #3b301f;} 
footer a {color:#8f8f8f;} 
footer a:hover {color:#ffffff;} 
footer {color:#ab933c;} 
footer h5 {color:#ab933c;} 
h1, h2, h3, h4, h5, h6 {color:#f2be00;} 
#accordion .panel-title {color:#444;}
.btn-primary {background:#a1640a;} 
.btn-primary {box-shadow:none;}
.btn-primary {border:none;}
.btn-primary:hover {background-color:#b5720d;} 
.btn-primary  { color:#fff !important;} 
#content a, .breadcrumb a {color:#ffe02e;} 
body {color:#cfcfcf;} 
table,.panel-body,.dropdown-menu {color:#666;}
#top .btn-link:hover, #top-links a:hover {color:#ad956f;} 
#top .btn-link, #top-links li, #top-links a {color:#b8b8b8;} 
#top .btn-link, #top-links li, #top-links a {text-shadow:none;}
#top {background:#3b2f1d;} 
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background:none;}
body {background:#3b2f1d;} 
#menu .nav > li > a {text-shadow:none;}
#menu {background:#8f754d;} 
#menu .container {background:#8f754d;} 
#menu,.dropdown-menu {border:0px solid transparent;}
#top {border-bottom:none;}
.product-thumb .button-group button {color:#3b2f1d;} 
.product-thumb .button-group button:hover {color:#ffffff;} 
.product-thumb .button-group button {background-color:#ffffff;} 
.product-thumb .button-group button:hover {background-color:#3b2f1d;} 
footer {border:0px solid transparent;}
.breadcrumb {border:0px solid transparent;}
.breadcrumb {background:none;}
.breadcrumb > li {text-shadow:none;}
.breadcrumb > li:after {top:8px; width:8px; height:8px;}
.image-additional a ,.thumbnail, #product .form-control  ,.panel-default {border:none;}
.form-control  {box-shadow:none;}
.table-bordered ,.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{border-color:#9c9994;}
