.product-thumb {background:#fff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,.nav-tabs > li:hover > a {color:#222 !important;  }
.well h2,#accordion h2, #accordion h4 a ,.btn-default {color:#444 !important;}
#cart .btn-inverse {background-color:#c4c4c4; background-image:none;} 
#cart .btn-inverse {color:#fffef7; border:0px solid; box-shadow:none; } 
#menu .nav > li > a:hover {background-color:#d1bb77;} 
.dropdown-menu li > a:hover {background:#c2a859;} 
#menu .see-all:hover {background:#c2a859;} 
footer {background-color:#333333;} 
.product-thumb a {color:#919191 !important;} 
footer a {color:#a2acb3;} 
footer a:hover {color:#c9ced1;} 
footer {color:#ccb560;} 
footer h5 {color:#ccb560;} 
h1, h2, h3, h4, h5, h6 {color:#ffffff;} 
#accordion .panel-title {color:#444;}
.btn-primary {background:#96824e;} 
.btn-primary {box-shadow:none;}
.btn-primary {border:none;}
.btn-primary:hover {background-color:#b59648;} 
.btn-primary  { color:#fff !important;} 
#menu .nav > li > a {color:#ffffff;} 
#content a, .breadcrumb a {color:#8c6b18;} 
#top .btn-link:hover, #top-links a:hover {color:#b39e6d;} 
#top .btn-link, #top-links li, #top-links a {color:#b0b0b0;} 
#top .btn-link, #top-links li, #top-links a {text-shadow:none;}
#top {background:#333333;} 
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background:none;}
body {background:#c3c5c7;} 
#menu .nav > li > a {text-shadow:none;}
#menu {background:#b5a164;} 
#menu .container {background:#b5a164;} 
#menu,.dropdown-menu {border:0px solid transparent;}
#top {border-bottom:none;}
.product-thumb {border:0px solid transparent;}
.product-thumb .button-group button + button {border-left:0px solid transparent;}
.product-thumb .button-group {border-top:0px solid transparent;}
.product-thumb .button-group button {color:#ffffff;} 
.product-thumb .button-group button:hover {color:#fff;} 
.product-thumb .button-group button {background-color:#b39e5f;} 
.product-thumb .button-group button:hover {background-color:#c9ae5d;} 
.breadcrumb {border:0px solid transparent;}
.breadcrumb {background:none;}
.breadcrumb > li {text-shadow:none;}
.breadcrumb > li:after {top:8px; width:8px; height:8px;}
.image-additional a ,.thumbnail, #product .form-control  ,.panel-default {border:none;}
.form-control  {box-shadow:none;}
.table-bordered ,.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{border-color:#cccccc;}

